.cardStatsGrid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.bioGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 1.5rem;
}

.coreAttributesGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 3rem;
    row-gap: 1.5rem;
}

@media (min-width: 768px) {
    .coreAttributesGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
